<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>redweb02.hovis.biz</MSDeployServiceURL>
    <DeployIisAppPath>Managecomplaints</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hovis\taylor.admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CarelineEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=redsql01.hovis.biz;Initial Catalog=Careline;Persist Security Info=True;User ID=DOTNET_LIVE;Password=EAIPASS;Application Name=EntityFramework" Name="Data Source=redsql01.hovis.biz;Initial Catalog=Careline;Persist Security Info=True;User ID=DOTNET_LIVE;Password=EAIPASS;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ComplaintsEntry.Models.CarelineEntities, ComplaintsEntry" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:lem2zb0c8e.database.windows.net,1433;Initial Catalog=DataStore_Live;Persist Security Info=True;User ID=AndyTaylor@lem2zb0c8e;Password=C0nnect123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ComplaintsEntry.Models.ApplicationDbContext, ComplaintsEntry" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CarelineEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ComplaintsModel.csdl|res://*/Models.ComplaintsModel.ssdl|res://*/Models.ComplaintsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=redsql01.hovis.biz;Initial Catalog=Careline;Persist Security Info=True;User ID=DOTNET_LIVE;Password=EAIPASS;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lem2zb0c8e.database.windows.net,1433;Initial Catalog=DataStore_Live;Persist Security Info=True;User ID=AndyTaylor@lem2zb0c8e;Password=C0nnect123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>