@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is used to make changes to the date Customer Complaints were received so that they appear in the correct week in the Careline reports.</p>
