@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kelway Service Desk<br />
    <abbr title="Phone">P:</abbr>
    0203 069 5693
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:Andy.Taylor@Hovis.co.uk">Andy.Taylor@Hovis.co.uk</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>