@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Complaints Management</h1>
    <p class="lead">This application should be used to manage customer complaints, ie. ensure they are in the correct week.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use the edit complaint option to change the week a complaint was logged to.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Additional Functionality</h2>
        <p>Additional Functionality will be added at a later date.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Customer complaints</h2>
        <p>This application should be used together with the Careline complaints reporting website.</p>
        <p><a class="btn btn-default" href="http://redweb02.hovis.biz/Careline/Default.aspx">Careline Reports &raquo;</a></p>
    </div>
</div>